.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searhBar {
  margin-top: 10px;
}
.card1 {
  width: 18rem;
  margin-top: 10px;
  display: flex inline;
  height: 490px;
  

  
}


.searchs{
  margin-top: 10px;

  
}
.search{
  display: flex inline ;
  margin-left: 25px;
}


.right{
  margin-left: 30px;
}
.left{
  margin-right: 30px;
}
.pagination{
  margin-top: 10px;
  margin-left: 470px;
}
.numbers{
 
  display: flex inline
}

